<h1> Väder </h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    {{ drupal_menu('main') }}
  </div>
</nav>
{{ drupal_entity('node', 10) }}
{{ drupal_menu('footer') }}

